.userpost {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.username {
    padding-left: 0.95em;
    margin-bottom: 20px;
    font-weight: bold;
    // display: inline-block;
}

.location {
    padding-left: 12px;
    font-weight: lighter;

}

.user-profile-info {
    // margin-left: 30px;
    // margin-bottom: 40px;
    display: inline-block;
}

.profile-pic-holder {
    display: inline-block;
}